/*
                      KEY POSITIONS
  ╭────────────────────────╮ ╭────────────────────────╮
  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
  ╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
              ╰────────────╯ ╰────────────╯
*/

#define COMBO(NAME, BINDINGS, KEYPOS) \
        combo_##NAME { \
          bindings = <BINDINGS>; \
          key-positions = <KEYPOS>; \
        };

compatible = "zmk,combos";

COMBO(btclr, &bt BT_CLR,   24 36 37 38)
COMBO(bta,   &bt BT_SEL 0, 25 36 37 38)
COMBO(btb,   &bt BT_SEL 1, 26 36 37 38)
COMBO(btc,   &bt BT_SEL 2, 27 36 37 38)
COMBO(btd,   &bt BT_SEL 3, 28 36 37 38)
COMBO(reset, &reset,       29 36 37 38)
/* COMBO(siri, &kp LG(SPACE) &kp LG(SPACE) &kp LG(SPACE) &kp LG(SPACE) &kp LG(SPACE) &kp LG(SPACE) &kp LG(SPACE) &kp LG(SPACE), 38 39) */
